@charset "UTF-8";

.btnBlueGreen {
	background: #00AE68;
}

.btnRed {
	background: #FF607F;
}

.btnFade.btnBlueGreen:hover {
	background: #21825B;
}

/* 3D */
.btnBlueGreen.btnPush {
	box-shadow: 0px 5px 0px 0px #007144;
}

.btnRed.btnPush {
	box-shadow: 0px 5px 0px 0px #CD1F48;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #007144;
}

.btnRed.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #CD1F48;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 90px;
	padding: 0;
	margin: 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}