@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: white;
}

th, td {
	padding: 0px;
}

table {
	border-spacing: 0px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/**********/
* {
	margin: 0;
	padding: 0;
}

@media ( min-width : 802px) {
	.listSize {
		width: 802px;
	}
}
