@charset "UTF-8";


.listTitle1 {
	font-size: 1em;
	color: #23527C;
}

.listMainWrap {
	padding: 0;
	margin: auto;
	list-style: none;
}

.listSubWrap {
	border: 4px solid #a5d4c0;
	margin-top: -4px;
	background-color: white;
	border-left-width:8px;
}

.stauts {
	text-align: left;
	white-space: nowrap;
	display: flex;
	justify-content: center;
}

.listProfle {
	border-radius: 100%;
	overflow: hidden;
	width: 30px;
	height: 30px;
}