@charset "UTF-8";

/* 메뉴탭 */
#menuTab { background :#a5d4c0; display:flex;}

#menuTab ul {height:40px; 
		line-height:40px; 
}

#menuTab ul li {
	display:inline-block; 
	margin-left:20px; 
}
#menuTab ul li a {color:#fff; 
	font-size:16px; 
	padding:5px;
	font-weight:bold;
}
#menuTab ul li a:hover { color:#000; background:#fff; }
/* 검색창  */
.searchBox {display:flex; 
justify-content:space-between; 
margin: 0 0 20px 650px;
}

.search { display:flex; 
		background :#fff; 
		align-items:center;
}
.searchIcon { width:50%; 
		margin-left:10px;
}

.searchFont { color:#a5d4c0; 
			font-size:14px; 
			text-align:center; 
			height:40px; 
			line-height:40px;
			margin-left:20px;
}