@charset "UTF-8";

/* footer  */
footer { background:#bbc2c2; margin-top:10px;}
footer ul { padding:5px; }
footer ul li { display:inline-block; color:#fff;}
footer ul li a {color : #fff;}
footer p {color : #fff; }